header{
    width: 100%;
    height: 60px;
    background-color: #282c34;
    display: flex;
    color: black;
    font-size: auto;
    position: sticky;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}