header{
    width: 100%;
    height: 80px;
    background-color: #282c34;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0 20px;
}

.header h1{
    color: white;
    font-size: 24px;
    margin: 0;
    white-space: nowrap;
}

.header p{
    color: white;
    margin-right: 2%;
    white-space: nowrap;
}