.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    height: calc(100vh - 60px);
    width: 100%;
}

.search-container{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

button{
    transition: all ease-in-out 0.3s; 
}

button:hover{
    background-color: #535bf2;
}

.repo-card{
    margin-top: 1%;
    border: 5px solid black;
    background-color: #f5f5f5;
    border-radius: 50px;
}